html,body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.container{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:sans-serif;
    background-color: #e6f2ff;
    color: #1a1a1a;
}
    
.box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    flex-direction: column;
    margin-bottom: 20px;
    
    
}

.row{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    padding-bottom: 20px;
    
}

.b1, .b2 , .b3 , .b4 , .b5{
    background: #1976d2;
    padding: 16px ;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
}

.headx{
    width: 100%;
    height: 25%;
    background-color: #222222;
    gap: 10px;
    justify-content: center;
}

.images{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 20px;
    transition: transform 0.6 ease ;
    width: 100%;

}


.bottom{
    text-align: center;
    background-color: #1976d2;
    padding: 30px;
}

.fr {
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    width: 40%;
}

.fr:hover{
 transform: scale(1.06);
 z-index: 2;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: medium;   
    font-weight: bold; 
    background-color: #e6f2ff;
    padding: 0  15px;
    padding-bottom: 10px;
}


.number{
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-weight: bold;
    
}

.containeru{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family:sans-serif;
    background-color: #e6f2ff;
    color: #1a1a1a;
}

.feed{
    text-align: center;
    font-weight: bold;
}

.form{
    margin: 5px;
    gap: 5px;
    background-color: #e6f2ff;
}

.message{
    height: 100px;
}

.map{
    width: 100%;
    height: 50%;
}

.submit{
    width: 12%;
    height: 9%;
    border-radius: 5px;

}

@media (max-width:600px){
    .images{ 
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .fr{
        width: 100%;
    }
}

@media (min-width:800px) {
    .b1 , .b2 , .b3 , .b4 {     width: 18%;
    height: 25%;}
}

.logo{
    position: relative;
}

.logotext{
    position: absolute;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin:0 20%;
    font-size: large;
    font-weight: bold;

}

@media (max-width:600px){
    .des{margin-top:300px;}
}





